<h1><%= @poll.name %></h1>

<%= form_for @vote, url: "/vote/#{@poll.id}" do |f| %>
  <% @poll.options.each do |option| %>
    <%= f.radio_button :vote, option %>
    <%= option %><br>
  <% end %>
  <%= error_messages_for @vote, :vote %>
  <%= f.submit "Vote" %>
<% end %>