<!DOCTYPE html>
<html>
  <head>
    <title>PollPresenter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      html {
          background-color: #f5f5f5;
      }
      body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
          flex-direction: column;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
